.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 100;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

  height: 60px;
  background-color: rgba(26, 26, 26, 0.75);
}
