@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* padding-top: 4rem; */
  margin: 0px;
  color: #333;
  /* --type-first: Helvetica, Arial, sans-serif; */
  --type-first: Inter, Arial, sans-serif;
  --type-second: "Spectral", georgia;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  /* min-height: calc(100vh + 10rem); */
  min-height: 100vh;
}

.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.AppBody {
  /* margin-top: 4rem; */
}
